/*
* define layout for web
*/
@CHARSET "utf-8";

/*
* layout
*/
#fixed-menu{
    position: fixed;
    background: #46a73e;
    height: 40px;
    width: 100%;
    z-index: 88;
}
body{
    margin: 0;
    background: #5d1e84;
}
#wrapper{
    margin: 0 auto;
    width: 1000px;
    padding: 44px 15px 15px 15px;
    background: #9FA9B3;
    position: relative;
}
#container{

}
#left_column{
    width: 190px;
    background: #417dc6;
    float: left;
    padding: 5px;
}
#content{
    width: 590px;
    background: #F2F2F2;
    float: left;
    padding: 5px;
}
#right_column{
    width: 190px;
    background: #417dc6;
    float: left;
    padding: 5px;
}
#footer{
    margin: 0 auto;
    background: #46a73e;
    bottom: 0px;
    height: 100px;
}
.clr{
    clear: both;
}

.box-content{
    margin: 0 auto;
    margin-bottom: 10px;
    min-height:30px;
    box-shadow: 0 0 5px;
    padding: 10px 10px 20px 10px;
    background: white;
    border-radius: 3px;
}
/*
* slider
*/
#slider{
    margin: 0 auto;
    height: 260px;
    padding: 44px 5px 5px 5px;
}
img{
    width: 200px;
    height: 200px;
}
#bx-page{
    margin: 0 auto;
    text-align: center;
}
#bx-page img{
    width: 30px;
    height: 30px;
}
/*
*   end slider
*/
/*
* product
*/
/*
* end product
*/