* {
    outline: medium none;
}
html {
    background: none repeat scroll 0 0 #000000;
    color: #000000;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, th, td {
    margin: 0;
    padding: 0;
}
.clr{
	clear:both;
}
.wrapper{
	margin: 0 auto;
	width:970px;
}
.box-content{
	margin: 0 auto;
	margin-bottom: 10px;
	min-height:30px;
	box-shadow: 0 0 5px;
	padding: 10px 10px 20px 10px;
	background: white;
    border-radius: 3px;
}
.title-bar{
	position:fixed;
    background: #01548d;

}
.search{
	float: right;
    margin-right: 95px;
}
.search ul{
    list-style: none;
}
.logo{
	width:100px;
}
.banner{
	height: 200px;
	
}

/*
* menu button
*/
.menu{
	float:right;
	margin-right: 30px;

}
ul.bar-menu li {
	display: inline-block;
	height: 20px;
	border-radius: 3px;
	padding: 5px 10px;
	vertical-align: middle;
}
ul.bar-menu li li {
	display: block;
	background: #aaa;
}
ul.bar-menu li ul {
	display: none;
	padding: 0;
}
ul.bar-menu li:hover{
	opacity: 0.5;
	background: #29447E;

}
ul.bar-menu li:hover ul {
	display: block;
}
ul.bar-menu li a{
	text-decoration: none;
    color: #F2F2F2;
}
/*
* end menu bar
*/
.body{
}
.e{
    background: #F2F2F2;
    margin-bottom: 20px;
}
.s{
    background: #46a73e;
}
/*
 * content for product
 */

.product{
		width: 680px;
		box-shadow: 0 0 5px;
		float: right;
		
}
.product-category{
		padding: 15px;
}
.product-detail{
	float: left;
	padding: 5px;
	width:200px;
	heigh:200px;
	border: 1px solid aqua;
	margin: 5px
}
.clr{
	clear:both;	
}

/*
 * end product
 */
/*
 * login pag
 */
.login-form{
	margin: 0 auto;
	width: 600px;
    padding: 30px;
    background: #dcdcdc;
    border: #417dc6 thick;
    box-shadow: 0 0 5px;
}
.login-row{
    width: 100%;

}
.login-row-col{
    width: 250px;
    float: left;
}
.form-label{
	width: 200px;
}
/*
 * End login page
 */
/*
* register
*/
.register-form{
    margin: 0 auto;
    width: 400px;
    padding-top: 20px;
}
.form-input{
    width: 205px;
    float: left;
}
.form-input > input{
    width: 198px;
    float: left;
}
.message-error{
    float: left;
    color: red;
}
.input-ok{
    background: #46a73e;
}
/*
* end register
*/
/**
*  menu left
**/
#dashboard-root{
    position: absolute;
    top: 40px;
    left: -150px;
    width: 150px;

}
#dashboard{
    background: #0044cc;
    position: fixed;
    height: 265px;
}
#dashboard:hover{
    background: #fff8d1;
}
.d-menu{
    position: relative;
    background: #003399;
    width: 140px;
    height: 60px;
    margin: 5px 5px 0px 5px;
}
.d-menu:hover{
    background: #46a73e;
}

/**
*  end menu left
**/