<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/page.css">
    <title></title>
</head>
<body>
<div id="fixed-menu">fix
</div>
<div id="wrapper">
    <div id="container">
        <div id="left_column">
            left
        </div>
        <div id="content">
            body
        </div>
        <div id="right_column">
            right
        </div>
        <div class="clr"></div>
        <div id="footer">
            footer
        </div>
    </div>
</div>
</body>
</html>