body{
	margin: 0;
	padding: 0;
}
#content{
	width: 980px;
	margin: auto;
}
.box-content{
	padding-top:15px;
	width: 100%;
	min-height: 64px;
	
}
#footer{
	margin-bottom: 0px;
	background: blue;
	min-height: 64px;
	width: 100%;
}
.form_title {
	width: 30%;
	padding: 5px;
	float:left;
}
.form_input{
	width: 30%;
	float:left;
}
.clr{
	clear:both;
}