@CHARSET "UTF-8";
input:required + label::after { content: "*"; }
input:invalid + label::after { content: ' ⨉ required'; }
input:valid + label::after { 
	content: ' ✓';
}
input:valid{
	border: outset;
}
.submitted input:invalid + label::after { content: ' ⨉  is required'; }