/**
 * Created by hieu on 4/24/14.
 */
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
#wrap-menu{
    width: 100%;
    height: 60px;
    background: #011119;
    color: #fff8d1;
}
#wrap-content{
    width: 100%;
    background: #E9EAED;
}
#wrap-footer{
    width: 100%;
    background: #E9EAED;
}
/**
* menu bar
**/
#menu{
    width: 1000px;
    padding: 5px;
    margin: 0 auto;
    background: #0e0e0e;
    position: relative;

}
.menu-item{
    text-align: center;
    line-height: 44px;
    text-decoration-line: line-through;
    width: 194px;
    height: 44px;
    background: #46a73e;
    display: inline-block;
    margin: 2px auto;
    padding: 1px;
}
.menu-item:hover .submenu{
    position: relative;
    display: block;

}
.menu-item:hover{
    background: #0044cc;
}

.submenu{
    display: none;
}
.submenu-item{
    background: #0e0e0e;
    color: #fff8d1;
    position: absolute;
    width: 194px;
    height: 44px;
    left: -1px;
    margin: 0 auto;
    padding: 1px;
}
.submenu-item:hover{
    background: #0044cc;
}
.clr{
    clear: both;
}
/**
* end menu bar
**/

/**
* page login
**/
#login{
    margin: 0 auto;
    width: 800px;
    background: #fff8d1;
    padding: 5px;
}
#login-form{
    padding: 5px;
    width: 80%;
}
/**
* end page login
**/